<div class="container-fluid pb-5">
   <div class="row">
      <div class="col-md-12">
         <div class="nameComponent">
            <h3 *ngIf="!atualizar" class="">Cadastrar</h3>
            <h3 *ngIf="atualizar" class="">Atualizar</h3>
            <h3>Parecer Diretor Comercial</h3>
         </div>
         <form class="d-flex justify-content-center align-items-center flex-column" [formGroup]="parecerDiretorComercialForm">
            <div class="card my-1 py-3">
               <legend>Informações Gerais</legend>
               <hr />
               <div class="d-flex justify-content-center" *ngIf="!edital">
                  <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
               </div>
               <div class="form-row d-flex justify-content-between" *ngIf="edital">
                  <div class="form-group col-md-1 d-flex flex-column ">
                     <label class="active">ID Edital</label>
                     <span class="conteudo bg-info text-white">{{ edital.id }}</span>
                  </div>
                  <div class="form-group col-md-2 d-flex flex-column">
                     <label class="active">Número do Edital</label>
                     <span class="conteudo bg-info text-white">{{ edital.numEdital }}</span>
                  </div>
                  <div class="form-group col-md-4 d-flex flex-column">
                     <label class="active">Cliente</label>
                     <span class="conteudo bg-info text-white">{{ edital.cliente.nome }}</span>
                  </div>
                  <div class="form-group col-md-3 d-flex flex-column">
                     <label class="active">Data de Abertura do Edital</label>
                     <span class="conteudo bg-info text-white">{{ edital.dataHoraDeAbertura | date: 'dd/MM/yyyy HH:mm' }}</span>
                  </div>
                  <div class="form-group col-md-2 d-flex flex-column">
                     <label class="active">Valor Estimado</label>
                     <span class="conteudo bg-info text-white" *ngIf="edital.valorEstimado">{{edital.valorEstimado | currency : 'R$'}}</span>
                  </div>
               </div>
            </div>

            <div class="card my-1 py-3">
               <legend>Resultado Gerente de Contas</legend>
               <hr />
               <div class="d-flex justify-content-center" *ngIf="!parecerGerente">
                  <div class="spinner-border text-primary" role="status">
                     <span class="sr-only">Loading...</span>
                  </div>
               </div>
               <div class="form-row d-flex justify-content-between" *ngIf="parecerGerente">
                  <div *ngIf="edital" class="form-group col-md-3 d-flex flex-column ">
                     <label class="active">Nome do Gerente</label>
                     <span class="conteudo bg-info text-white">{{ edital.gerente.nome }}</span>
                  </div>
                  <div class="form-group col-md-2 d-flex flex-column">
                     <label class="active">Parecer</label>
                     <span class="conteudo bg-info text-white">{{ parecerGerente.parecer }}</span>
                  </div>
                  <div *ngIf="parecerGerente.motivoComum" class="form-group col-md-2 d-flex flex-column">
                     <label class="active">Motivo</label>
                     <span class="conteudo bg-info text-white">{{ parecerGerente.motivoComum.nome }}</span>
                  </div>
                  <div class="form-group col-md-2 d-flex flex-column">
                     <label class="active">Natureza</label>
                     <span class="conteudo bg-info text-white">{{ parecerGerente.natureza }}</span>
                  </div>
                  <div class="form-group col-md-2 d-flex flex-column">
                     <label class="active">Codigo CRM</label>
                     <span class="conteudo bg-info text-white">{{ parecerGerente.crm }}</span>
                  </div>
                  <div *ngIf="parecerGerente.observacao" class="form-group col-md-4 d-flex flex-column">
                     <label class="active">Observaçoes</label>
                     <span class="conteudo bg-info text-white">{{ parecerGerente.observacao }}</span>
                  </div>
                  <div class="form-group col-md-5 d-flex flex-column">
                     <label class="active">Empresa</label>
                     <span class="conteudo bg-info text-white">{{ parecerGerente.empresa.nome }}</span>
                  </div>
                  <div class="form-group col-md-3 d-flex flex-column">
                     <label class="active">Pré Venda</label>
                     <span *ngIf="parecerGerente.preVenda" class="conteudo bg-info text-white">{{ parecerGerente.preVenda.usuario.nome }}</span>
                     <span *ngIf="!parecerGerente.preVenda" class="conteudo bg-info text-white"></span>
                  </div>
               </div>
            </div>

            <div class="card my-1 py-3">
               <legend>Parecer Diretor Comercial</legend>
               <hr />
               <div class="form-row d-flex-md justify-content-between blocoDecisao">
                  <div class="form-group col-md-2 d-flex flex-column ">
                     <label class="active">Decisão</label>
                     <select class="form-control px-2" formControlName="decisao" required>
                        <option value="" [disabled]="true" [selected]="true">--Selecione--</option>
                        <option (click)="setParecer(true)" value="GO">GO</option>
                        <option (click)="setParecer(false)" value="NOGO">NOGO</option>
                     </select>
                  </div>
                  <div class="form-group col-md-6 d-flex flex-column">
                     <label class="active">Observacão</label>
                     <textarea class="form-control px-2" rows="4" formControlName="observacao"></textarea>
                  </div>
               </div>
               <div class="form-row d-flex-md justify-content-start blocoMotivoComum" [hidden]="parecerDiretorComercialForm.get('decisao').value != 'NOGO'">
                  <div class="form-group col-md-5 d-flex flex-column">
                     <label class="active">Motivo</label>
                     <select class="form-control px-2" formControlName="motivoComum" [required]="parecerDiretorComercialForm.get('decisao').value == 'NOGO'">
                        <option value="" [selected]="parecerDiretorComercialForm.get('decisao').value == 'GO'">--Selecione--</option>
                        <option *ngFor="let motivo of motivoForm" value="{{motivo.id}}">{{ motivo.nome }}</option>
                     </select>
                  </div>
               </div>

            </div>

            <div class="card my-1 py-3">
               <legend>Indicar Comercial</legend>
               <hr />
               <div class="form-row d-flex justify-content-around">
                  <div class="form-group col-md-5 d-flex flex-column ">
                     <label class="active">Empresa</label>
                     <select class="form-control px-2" formControlName="empresa" required>
                        <option value="" [disabled]="true" [selected]="true">--Selecione--</option>
                        <option *ngFor="let empresa of empresaForm" value="{{ empresa.id }}">{{ empresa.nome }}
                        </option>
                     </select>
                  </div>
                  <div class="form-group col-md-5 d-flex flex-column">
                     <label class="active">Gerente</label>
                     <select  class="form-control px-2" formControlName="gerente" required>
                        <option value="" [disabled]="true" [selected]="true">--Selecione--</option>
                        <option *ngFor="let gerente of gerenteForm" value="{{ gerente.id }}">{{ gerente.nome }}
                        </option>
                     </select>
                  </div>
               </div>
            </div>

            <div class="card my-1 py-3">
               <legend>Anexos Diretor Comercial</legend>
               <hr />
               <div class="form-row d-flex justify-content-around">

                  <div class="form-group col-md-6 d-flex justify-content-center align-items-center flex-column">
                     <label class="active">Anexo 1</label>
                     <div class="form-group pt-5" *ngIf="!arquivo1">
                        <app-upload [tituloBt]="'Upload'" [idBt]="'anexo1bt'" (evento)="upload($event, 1)"></app-upload>
                     </div>
                     <div class="form-group col-md-12 pt-3 d-flex justify-content-center" *ngIf="arquivo1">
                        <div class="btn-group" role="group" aria-label="...">
                           <a class="btn btn-info btnAnexo" (click)="downloadAnexo(3)"
                              href="javascript:void(0);">{{ arquivo1.nome }}</a>
                           <button type="button" class="btn btn-danger btnExcluir" href="javascript:void(0);"
                              (click)="excluirAnexo(1)">
                              X
                           </button>
                        </div>
                     </div>
                  </div>

                  <div class="form-group col-md-6 d-flex flex-column justify-content-center align-items-center">
                     <label class="active">Anexo 2</label>
                     <div class="form-group pt-5" *ngIf="!arquivo2">
                        <app-upload [tituloBt]="'Upload'" [idBt]="'anexo2bt'" (evento)="upload($event, 2)"></app-upload>
                     </div>
                     <div class="form-group col-md-12 pt-3 d-flex justify-content-center" *ngIf="arquivo2">
                        <div class="btn-group" role="group" aria-label="...">
                           <a class="btn btn-info btnAnexo" (click)="downloadAnexo(4)"
                              href="javascript:void(0);">{{ arquivo2.nome }}</a>
                           <button type="button" class="btn btn-danger btnExcluir" href="javascript:void(0);"
                              (click)="excluirAnexo(2)">
                              X
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="card my-1 py-3">
               <legend>Anexo do Gerente de Contas</legend>
               <hr />

               <div class="d-flex justify-content-center" *ngIf="!anexo1GC && !anexo2GC">
                  <button class="btn btn-primary px-2" type="button" disabled>
                     Nenhum edital anexado...
                  </button>
               </div>

               <div class="form-group col-md-12 d-flex justify-content-around">
                  <div class="form-group col-md-6 d-flex justify-content-center" *ngIf="anexo1GC != null">
                     <div class="btn-group" role="group" aria-label="...">
                        <a class="btn btn-info btnAnexo" (click)="downloadAnexo(1)"
                           href="javascript:void(0);">{{ anexo1GC.nome }}</a>
                     </div>
                  </div>

                  <div class="form-group col-md-6 d-flex justify-content-center" *ngIf="anexo2GC != null">
                     <div class="btn-group" role="group" aria-label="...">
                        <a class="btn btn-info btnAnexo" (click)="downloadAnexo(2)"
                           href="javascript:void(0);">{{ anexo2GC.nome }}</a>
                     </div>
                  </div>
               </div>
            </div>

            <div class="card my-1 py-3">
               <legend>Anexo do Edital</legend>
               <hr />
               <div class="d-flex justify-content-center" *ngIf="!edital">
                  <div class="spinner-border text-primary" role="status">
                     <span class="sr-only">Loading...</span>
                  </div>
               </div>
               <div class="form-group col-md-12 d-flex justify-content-center" *ngIf="edital">
                  <div class="form-group" *ngIf="edital.anexo">
                     <div class="btn-group" role="group" aria-label="...">
                        <a class="btn btn-info btnAnexo" (click)="downloadAnexo(0)"
                           href="javascript:void(0);">{{ edital.anexo.nome }}</a>
                     </div>
                  </div>
                  <div class="form-group" *ngIf="!edital.anexo">
                     <div class="btn-group" role="group" aria-label="...">
                        Este anexo não está disponível, por favor entre em contato com os administradores.
                     </div>
                  </div>
               </div>
            </div>
            <a href="" id="download-anexo" download=""></a>
            <div class="card my-1 py-3 px-3">
               <div class="form-group col-md-12">
                  <button class="btn btn-success btn-lg btnSubmit" (click)="processar()" [disabled]="!parecerDiretorComercialForm.valid" type="submit">Salvar</button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
