<div class="container-fluid" id="bloco">
   <div class="row mb-4">
      <div class="col-md-12">
         <form class="d-flex justify-content-center align-items-center flex-column" [formGroup]="motivoPerdaForm">
            <div class="card my-1 py-3">
               <legend>Cadastrar Motivo da Perda</legend>
               <hr />
               <div class="form-row d-flex-md justify-content-around">
                  <div class="form-group col-md-4 d-flex flex-column ">
                     <label class="active">Nome</label>
                     <input type="text" class="form-control px-2" formControlName="nome" required>
                  </div>
                  <div class="form-group col-md-2 d-flex flex-column " *ngIf="motivoPerdaId">
                     <label class="active">Status</label>
                     <div class="form-group col-md-12 ml-2">
                        <div class="form-check radio">
                           <input class="" type="radio" formControlName="ativo" name="ativo" value="true">
                           <span class="ml-2">Ativo</span>
                        </div>
                        <div class="form-check radio">
                           <input class="" type="radio" formControlName="ativo" name="ativo" value="false">
                           <span class="ml-2">Desativar</span>
                        </div>
                     </div>
                  </div>
                  <div class="form-row d-flex justify-content-end mt-4">
                     <div class="btn-group">
                        <button class="btn btn-success botao" (click)="cadastrarMotivoPerda()" [disabled]="motivoPerdaId || !motivoPerdaForm.valid">Cadastrar</button>
                        <button class="btn btn-warning botao" (click)="alterarMotivoPerda()" [disabled]="!motivoPerdaId">Alterar</button>
                        <button class="btn btn-danger botao" (click)="limpar()">Limpar</button>
                     </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>

   <div class="row">
      <div class="areatabela d-flex justify-content-center align-items-center">
         <div class="card cardScroll d-flex justify-content-center align-items-center">
            <div class="tituloTabela">Motivos da Perda</div>
            <div class="d-flex justify-content-center mt-3" *ngIf="!motivosPerda">
               <div class="spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
               </div>
            </div>
            <div [ngClass]="{scroll: motivosPerda.length > 15}" style="width: 100%;" *ngIf="motivosPerda">
               <table border="1" class="tabela">
                  <thead>
                     <tr>
                        <th>NOME</th>
                        <th class="px-4">STATUS</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let motivo of motivosPerda" (click)="selecionarMotivoPerda(motivo)">
                        <td>{{motivo.nome}}</td>
                        <td class="status" *ngIf="motivo.ativo == true">Ativado</td>
                        <td class="status red" *ngIf="motivo.ativo == false">Desativado</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
